body{
    margin: 0;
}

.firstone{
    background-color: orange;
    height: 115px;
    
}
.logo{
    float: left;
    margin-left:109px ;
    margin-top: 20px;
}
.thirdportion{
    float: left;
    margin-left: 560px;
    margin-top: 56px;
}
.searchbar{
    background-color: white;
    width: 100%;
    display: flex;
}
form{
    background-color: white;
    width: 278px;
    height: 35px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
     outline: none;
}
form button{
   
    left: 216px;
    height: 37px;
    width: 70px;
    background-color:#ff6940;
    border: none;
    padding:10px 10px ;
    cursor: pointer;
    letter-spacing :0px;
    color: white;
}
.countryselection{
    float: left;
    margin-top: 5px;
    margin-left: 50px;
   background-color: orange;
   width: 200px;
   height: 60px;

}

.country{
    height: 36px;
    width: 135px;
    background-color: #ff6940;
    border: none;
    color: white;
}
.line{
    background-color: white;
    margin-top: 1px;
}
.seconddiv{

    background-color: orange;
    height: 34px;
    width: 100%;
   
}

.menu{
    display: flex;

    margin-left: 420px;
    width: 40%;
    height: 100%;
}
.secondabout{
    margin-top: 13px;
    margin-left: 10px;
    height: 100%;
    width: 19%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;
}
.breakone{
    margin-top: 10px;
    width: 1px;
    background-color: white;
    height: 100%;
}
.product{
    margin-top: 13px;
    padding-left: 20px;

    width: 16%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;
}
.breaktwo{
    margin-top: 10px;
    width: 1px;
    background-color: white;
    height: 90%;
    
}
.testimo{
    margin-top: 13px;
    padding-left: 20px;
    width: 18%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;

}
.breakthree{
    margin-top: 10px;
    width: 1px;
    background-color: white;
    height: 90%;
}
.self{
    margin-top: 13px;
    margin-left: 10px;
    width: 35%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;
}


.middle{
    display: flexbox;
    width: 100%;
    height: 550px;
    
}
.secondimage{
    margin-left: 100px;
}




.head{
    float: right;
    margin-top: 50px;
    margin-right: 27px;
    color:  #ff6900 ;
    font-size: small;
width: 500px;
font-family: 'Roboto', sans-serif;
}
.paragraph{
    float: left;
    margin-top: 15px;
    line-height: 13px;
    height: 350px;
    width: 500px;
    
    font-size: 12px;
    font-weight: normal;
    
    color: rgb(70, 65, 65)  ;
    font-family: 'Quicksand', sans-serif;
}
.third{
    display: flex;
    width: 100%;
    margin-bottom: 600px;
    height: 250px;
    background: rgb(255,165,18);
    background: linear-gradient(90deg, rgba(255,165,18,1) 12%, rgba(255,255,255,1) 50%, rgba(255,165,18,1) 85%);
}
.lasthead{
    width: 20%;
    padding-top: 80px;
    margin-left: 140px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: rgb(73, 62, 62);
    
}
.lastheadsentence{
    line-height: 13px;
    height: 50px;
    width: 200px;
    margin-left: 5px;
    padding-top: 20px;
    
    font-size: 11px;
    font-weight: normal;
    
    color: rgb(70, 65, 65)  ;
    font-family: 'Quicksand', sans-serif;
}.aerosol{
    align-items: center;
    height: 120px;
    margin-top: 30px;
    margin-left: 10px;
   
}
.aerosolsentence{
    line-height: 13px;
    height: 50px;
    width: 250px;
    margin-left: 5px;
    padding-top: 10px;
    font: bold;
    font-size: 10px;
    font-weight: normal;
    
    color: rgb(87, 76, 76)  ;
    font-family: 'Quicksand', sans-serif;
}
.lastmenu{
    height: 35px;
    width: 100%;
    margin-top: 200px;
    background-color: rgb(255,165,18);
    display: flex;
    justify-content: center;    
}
.neck{margin-top: 13px;
    margin-left: 200px;
    width: 18%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;}
.vertical{margin-top: 10px;
    width: 1px;
    background-color: white;
    height: 100%;}
.backpain{margin-top: 13px;
    padding-left: 20px;
    width: 18%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;}

    .verticaltwo{margin-top: 10px;
    width: 1px;
    background-color: white;
    height: 100%;}
.muscle{margin-top: 13px;
    padding-left: 20px;
    width: 18%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;}
    .verticalthree{margin-top: 10px;
    width: 1px;
    background-color: white;
    height: 100%;}
.cold{margin-top: 13px;
    padding-left: 20px;
    width: 18%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;
}
    .verticalfour{margin-top: 10px;
    width: 1px;
    background-color: white;
    height: 100%;}

.reliefof{margin-top: 13px;
    padding-left: 20px;
    width: 18%;
    margin-right: 150px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;
}
    .verticalfive{margin-top: 10px;
    width: 1px;
    background-color: white;
    height: 100%;}
    .joint{
        margin-top: 13px;
    padding-left: 20px;
    width: 18%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: xx-small;
    }
.lastdiv{
    background-color: white;
    width: 100%;
    height: 30px;
    display: flex;
    }
.copyright{
    padding-left: 250px;
    padding-top: 5px;
    font: bold;
    font-size: 13px;
    font-weight: normal;
    
    color: rgb(87, 76, 76)  ;
    font-family: 'Quicksand', sans-serif;
}
.final{
    float: right;
    
}
    .finallist{
    display: flex;
    align-items: center;

}